<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block body %}
    <center>
        <div id="login">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <br>
  
        <input type="text" name="uname" placeholder="Username"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="text" name="oname" placeholder="Owner Name"><br><br>
        <input type="text" name="sname" placeholder="Shop Name"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="password" name="cpassword" placeholder="Confirm Password"><br><br>
        <input type="file" name="pic"><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    </center>
    {% endblock body %}
</body>
</html>