<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .form-control,.form-select{
            width: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <center>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <br>
  
        <input class="form-control" type="text" name="iname" placeholder="Item name"><br>
        <input class="form-control" type="number" name="iprice" placeholder="Price In Rs."><br>
        <input class="form-control" type="text" name="idisc" placeholder="Discription"><br>
        <select name="category" class="form-select" aria-label="Default select example">
            <option disabled="false" selected>---select one---</option>
            <option value="grocery">Grocery</option>
            <option value="mobile">Mobile</option>
            <option value="fashion">Fashion</option>
            <option value="electronics">Electronics</option>
            <option value="home">Home</option>
            <option value="apllances">Apllances</option>
            <option value="travel">Travel</option>
            <option value="topoffer">Top Offer</option>
            <option value="toys">Toys</option>
            <option value="twowheeler">Two wheeler</option>
        </select><br>
        <input class="form-control" type="number" name="sid" id="" value="{{p_id}}" readonly><br>
        <input class="form-control" type="file" name="iimage"><br>
        <input class="btn btn-primary mb-3" type="submit" value="Submit">
    </form>
    </div>
    </center>
</body>
</html>